/*account-container{
    background-image
}
*/

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.account-box {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 100%; /* Ocupa el 100% del contenedor */
    min-height: 400px;
    text-align: center; 
}

.account-container{
    width : 45vw;
}

