@model BookTrader.Models.Libros

@{

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div>
            <label>Título:</label>
            <input asp-for="Nombre" />
        </div>
        <button type="submit">Guardar</button>
    </form>
}
