@{
    ViewData["Title"] = "Confirmación de registro";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="confirmacionRegistro"> 
    <h2>Registro exitoso!</h2>
    <p>
        Tu cuenta ha sido creada exitosamente.<br />
        Revisá tu correo electrónico para activar tu cuenta.<br />
        Te hemos enviado un enlace de activación.
    </p>
    <a href="/Account/Login" class="btn-ir-login">Ir al Login</a>
</div>


@* @section Styles {
    <link rel="stylesheet" href="~/css/account.css" />
} *@