@{
    ViewData["Title"] = "Confirmación de registro";
}

<div class="text-center mt-5">
@*     <h2>¡Bienvenido, @Model.Nombre!</h2>
 *@    <p class="mt-3">
        Tu cuenta ha sido creada exitosamente.<br />
        Por favor, revisá tu correo electrónico para activar tu cuenta.<br />
        Te hemos enviado un enlace de activación.
    </p>
</div>


