@{
    ViewData["Title"] = "Confirmación de Email";
}

<h2>Email confirmado</h2>
<p>
    ¡Tu correo ha sido confirmado exitosamente! Ya podés
    <a asp-controller="Account" asp-action="Login">iniciar sesión</a>.
</p>
