@model BookTrader.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Restablecer Contraseña";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">Restablecer Contraseña</h4>
                </div>
                <div class="card-body-reset">
                    <form method="post" asp-action="ResetPassword" asp-controller="Account" novalidate>
                        @Html.AntiForgeryToken()
                        <div asp-validation-summary="All" class="alert alert-danger" role="alert" style="display:none;"></div>

                        <input asp-for="Email" type="hidden" />
                        <input asp-for="GuidCode" type="hidden" />


                        <div class="form-group">
                            <label for="NewPassword">Nueva Contraseña</label>
                            <input asp-for="NewPassword" class="form-control" id="NewPassword" type="password" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="ConfirmPassword">Confirmar Contraseña</label>
                            <input asp-for="ConfirmNewPassword" class="form-control" id="ConfirmPassword" type="password" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Restablecer Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
