@{

    <div style="margin-top: 40px">

        <section id="proposito">
            <h2>Nuestro Propósito</h2>
            <p>Nuestra plataforma tiene como objetivo fomentar la lectura, facilitar la obtención de libros y crear una comunidad donde las personas interesadas en la lectura puedan conectar e intercambiar conocimientos.</p>
            <p>Este proyecto fue iniciado por Tomás García, estudiante de la Tecnicatura en Programación, con la visión de acercar los libros a más personas a través de la tecnología.</p>
        </section>


        <section id="mision-vision">
            <h2>Nuestra Misión</h2>
            <p>Facilitar el acceso a libros a través de una plataforma digital que conecte a compradores y vendedores de manera eficiente.</p>
            <h2>Nuestra Visión</h2>
            <p>Ser la plataforma líder en el comercio de libros en línea, promoviendo la lectura y el acceso a la cultura.</p>
        </section>

        <section id="equipo">
            <div class="miembro" style="margin-top: 100px;">
                <h2>Nuestro Equipo</h2>
                <h3>Tomás García</h3>
                <p>Fundador y CEO</p>
            </div>
        </section>
    </div>
}
